apiVersion: apps/v1
kind: Deployment
metadata:
  name: simlpe-deployment
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Values.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.name }}
    spec:
      containers:
        - name: {{ .Values.image.name }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
#          image: "{{ .Values.image.name }}:{{ default .Chart.Version .Values.image.tag }}"
          image: "{{ .Values.image.name }}:{{ .Values.image.tag }}"
          ports:
            - containerPort: {{ .Values.service.port }}
      imagePullSecrets:
        - name: iondockeranant-secret